.hero-slider {
    height: 80vh;
  }
  
  .slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 5%;
  }
  
  .text-container {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .slide-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Fade-in Effect */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translatey(-50px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
  