@keyframes border-spin {
  0% {
    border-color: #ff3d00;
  }
  25% {
    border-color: #ff9100;
  }
  50% {
    border-color: #00e676;
  }
  75% {
    border-color: #2979ff;
  }
  100% {
    border-color: #ff3d00;
  }
}

.hover\:border-gradient:hover {
  border-width: 3px;
  border-image-source: linear-gradient(45deg, #ff3d00, #ff9100, #00e676, #2979ff);
  border-image-slice: 1;
}
